.form-auth-input-container {
  @apply flex flex-col items-center justify-center mb-1;
  color: var(--color-dark-blue2);
  label {
    @apply font-bold mt-2;
  }
  input {
    @apply w-80 h-10 rounded-lg border-2 focus:outline-none;
    border-color: var(--color-dark-blue);
    :focus {
      border-color: var(--color-light-blue);
    }
    padding: 0 1rem;
  }
  button {
    @apply w-80 h-10 rounded-lg border-2 focus:outline-none m-2;
    border-color: var(--color-dark-blue);
    :focus {
      border-color: var(--color-light-blue);
    }
    padding: 0 1rem;
  }
  .error-text {
    @apply text-xs;
    color: var(--color-light-red);
  }
}

.form-auth-link-container {
  @apply flex flex-col items-center justify-center;
  color: var(--color-dark-blue2);
  a {
    @apply text-blue-500;
  }
}
