.login-container {
  @apply flex flex-col items-center justify-center h-3/5;
}
.login-container2 {
  @apply flex flex-col items-center justify-center h-3/5;
  h1 {
    @apply text-3xl font-bold m-2 text-center;
    color: var(--color-light-gray);
  }
}
.main-login {
  background-color: var(--color-light-blue);
  @apply h-screen w-screen;
}

.main-register {
  background-color: var(--color-light-blue);
  @apply h-screen w-screen;
}

.register-container2 {
  @apply flex flex-col items-center justify-center;
  h1 {
    @apply text-3xl font-bold m-2 text-center;
    color: var(--color-light-gray);
  }
}
.register-container {
  @apply flex flex-col items-center justify-center;
}
